main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   min-height: 100vh;
}

main input {
   margin-bottom: 1rem;
}

.item11 .fc-event-main {
   color: #000;
}